
<!--

 <h1>Comments</h1>
 
 
 <div class="row">
   <div class="col-md-8">
     <% @posts.comments.each do |comment| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
             <%= link_to (markdown_to_html post.title), [@topic, post, post.comments] %>
           </h4>
          <p>
             <%= post.comments %> 
          </p>
         </div>
       </div>
     <% end %>
   </div>
  
 </div>

-->



 <div class="media">
  <div class="media-left">
    <%= image_tag(comment.user.avatar.small.url, class: "media-object") if comment.user.avatar? %>
  </div>
  <div class="media-body">
    <small>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
    </small>
    <p><%= comment.body %></p>
  </div>
</div>

